@import url('./reset.css');

#wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 102.4vh;
}

.random_img {
  width: 100%;
  height: 25%;
  background-color: #075da5;
}

.login_section {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  margin: -100px auto 0 auto;
  z-index: 100;
  background-color: white;
  box-shadow: 0px 0px 5px 0px grey;
}

.logo {
  width: 150px;
  margin: 50px auto 0 auto;
}

.inform {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.inform_box {
  width: 300px;
  /* height: 50px; */
  margin-top: 10px;
  color: #062947;
}
.inform_box>input {
  width: 300px;
}

.register_btn {
  margin: auto;
  font-size: 12px;
  color: #aaa;
}

.login_btn {
  width: 350px;
  margin: auto;
  height: 10%;
  color: white;
  border-radius: 10px;
}

.login_btn:hover {
  background-color: #103d62;
}
