
* {
    list-style: none;
    text-decoration-line: none;
    font-family: 'Gowun Dodum', sans-serif;
}
.mytitle > button:hover {
    border: 2px solid white;
}

.carousel-box {
    width: 60%;
    margin: 10px auto 30px auto;
}

.hashtag {
    margin-top: 30px;
}

.btn {
    margin-right: 10px;
    border-radius: 10px;
}

.header {
    width: 100%;
    height: 250px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header .logo > img {
    width: 300px;
    margin: auto;
    cursor: pointer;
}

.contents {
    width: 800px;
    height: 300px;
    margin: 0 auto 20px auto;
    border: 1px solid #fff;
    box-shadow: 0px 0px 5px 0px #555;
    border-radius: 10px;

}

.contents .cafe_img {
    width: 50%;
    height: 300px;
    float: left;
    margin: auto;
}


.contents .cafe_img > img {
    width: 100%;
    margin: 15px;
    border-radius: 10px;
}

.contents .cafe_info {
    width: 47%;
    height: 300px;
    float: right;
}

.contents .cafe_info .info li {
    font-size: 15px;
    width: 100%;
    margin: 20px;
}

.contents .cafe_info .info .cafe_name {
    font-size: 30px;
    margin: 30px 0 0px 20px;
}

.contents .cafe_info .info .cafe_address {
    font-size: 18px;
    margin-top: 120px;

}

.contents .cafe_info .info .cafe_address a {
    text-decoration-line: none;
    color: black;
}