.mytitle > button:hover {
    border: 2px solid white;
}
.carousel-box {
    width: 60%;
    margin: 10px auto 30px auto;
}
.logo{
    width: 170px;
    height: 80px;
    margin:10px 0px;
}
.hashtag {
    margin-top: 30px;
}
.btn {
    margin-right: 10px;
    border-radius: 10px;
}

#header {
    background-color : #B18904;
    height : 20%;
    margin-bottom : 40px;
}

.logo {
    margin-left : 50px
}