<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/ad179f6956.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">

    <title> 경주가자 | Main </title>
    <script>
        $(document).ready(function () {
            $("#joke").mouseover(function () {
                $(this).text("없어요")
            })
            $("#joke").mouseout(function () {
                $(this).text("상세보기")
            })
        })
    </script>

</head>
<body>
<header class="header">
    <div class="logo" onclick="window.location.href = '/'">
        <img alt="logo"
             src="https://raw.githubusercontent.com/MIINII/sparta_chapter1/c756999647e02db5373558b5624842c89a46c6c3/img/logo/logo.png"/>
    </div>
</header>


<div>
    {% block contents %}
    {% endblock %}
</div>

<footer class="footer" style="margin-top:10rem;">
    <div class="content has-text-centered">
        <p style="font-size:8px; color:gray" ;>
            공지사항 | 이용약관 | <span id="joke">상세보기</span>
        </p>
        <p>
            <i class="far fa-copyright is-small"></i><img style="width:100px; height:100px; margin-left: 10px"
                                                          src="https://raw.githubusercontent.com/MIINII/sparta_chapter1/2a8ed7d0f1093030fed96efb715210bcaee3a8db/img/logo/logo.svg">
        </p>
    </div>
</footer>
</body>

</html>