{% extends "base.html" %}

{% block contents %}
<div class="buttons">
    <button>#전체보기</button>
    <button>#좋아요</button>
    <button>#베이커리</button>
    <button>#커피</button>
    <button>#빙수</button>
    <button>#감성</button>
    <button>#디저트</button>
</div>

<div class="row row-cols-1 row-cols-md-3 g-5" style="width: 70rem; height: 30rem; margin:auto">
    {% for cafe in cafe_list %}
    <div class="col">
        <div class="card" style="border-radius: 10px;">
            <div onclick="like(this)">
                <span class="icon"><i class="fa-solid fa-heart fa-xl like"></i></span>
            </div>
            <img src="{{cafe['image']}}" class="card-img-top" alt="...">
            <div class="card-body" onclick="window.location.href='/{{ cafe.title }}'">
                <h5 class="card-title">
                    <div><i class="fa-solid fa-mug-saucer fa-xs" style="margin-right:5px"></i>{{cafe['title']}}</div>
                    <span><i class="fa-solid fa-star"
                             style="margin-right:5px; color:#F7D358;"></i>{{ cafe["stars"] }}</span>
                </h5>
                <p class="card-text" style="font-size:12px; color:#075DA5">
                    {% for hash in cafe["hashtags"] %}
                    <span>{{ "#{0}".format(hash) }}</span>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}