<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--  jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" />

    <!--  tailwind  -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>

    <!-- Style -->
    <link rel="stylesheet" href="../static/css/login.css" />
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico" />

    <script src="../static/js/login.js"></script>

    <title>ㄱㅈㄱㅈ 로그인</title>
  </head>
  <body>
    <div id="wrap">
      <div class="random_img"></div>

      <section class="login_section">
        <div class="logo">
          <img alt="logo" src="https://raw.githubusercontent.com/MIINII/sparta_chapter1/c756999647e02db5373558b5624842c89a46c6c3/img/logo/logo.png" />
        </div>

        <div class="inform">
          <div class="inform_box">
            <input id="input-id" class="w-fit rounded" type="text" placeholder="아이디" />
            <p id="help-id" class="help text-xs text-gray-500"></p>
          </div>

          <div class="inform_box">
            <input id="input-password" class="w-fit rounded" type="password" placeholder="비밀번호" />
            <p id="help-password" class="help text-xs text-gray-500"></p>
          </div>
        </div>

        <button class="register_btn" onclick="sign_up()">아직 회원이 아니신가요?</button>

        <button type="button" class="login_btn button bg-sky-700" onclick="sign_in()">로그인</button>
      </section>
    </div>
  </body>
</html>