<!doctype html>
<html lang="en">
<head>

  <!-- Webpage Title -->
  <title>Hello, world!</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bulma CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

  <script src="../static/js/register.js"></script>

  <title>ㄱㅈㄱㅈ 회원가입</title>
</head>
<body>
<div class="section has-text-centered">
  <h1 class="title">회원가입 페이지</h1>
  <div class="container" style="width:60%">
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input type="text" class="input" id="userid" aria-describedby="emailHelp"
                placeholder="My ID">
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input type="password" class="input" id="userPw" placeholder="My Password">
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input type="text" class="input" id="userNick" placeholder="My Nickname">
          </div>
        </div>
      </div>
    </div>
    <button class="button is-primary" onclick="register()">회원가입</button>
  </div>
</div>
</body>
</html>